# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Usuario\Documents\Documentos GS\Entornos de desarrollo\Block 2\Exercises U1\2.1.6.4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
